.testOptionScroller {
    overflow-x: auto;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 20px;
   
}

.testOptionScroller::-webkit-scrollbar {
    width: 5px;
    height:3px;
  
}

.testOptionScroller::-webkit-scrollbar-track {
    background: #CBD6E2;
    width:100px;
    margin-top:20px;
    margin-left: 16px;
    margin-right: 40px;
    border-radius: 20px;
   
  
}

.testOptionScroller::-webkit-scrollbar-thumb {
    background-color: #7C98B6;
    border-radius: 20px;
}

.testOptionScroller::-webkit-scrollbar-thumb:hover {
    background: rgba(40, 68, 109, 0.6);
}