.eye {
    position: absolute;
    top: 55%;
    right: 30px;
}

.textGrayed {
    font-weight: 400;
    font-size: 11.9779px;
    line-height: 18px;
    color: #667085;
}

.title {
    font-weight: 700;
    font-size: 29.9448px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.bg {
  
   /* background: linear-gradient(180deg, rgba(43, 73, 240, 0) 0%,rgb(227 245 252) 100%), url('../../assets/signup/5156620\ 1.png');*/
   background: url('../../assets/signup/5156620\ 1.png'), #add8e660 -0.005px -145.667px / 90% 124.756% no-repeat;
   position: relative;

    background-size: cover;
    background-position: center;
   /* flex: 1 1 auto; */
  }
.remembercheckBox span::after{
height: 14px !important;
width: 6px !important;
left: 6px !important;
}
/* 
.loginCarousel {
    height: 100%;
} */
/* .loginCarousel .owl-stage {
    display: flex;
}

.loginCarousel .owl-item img {
    width: auto;
    height: 100%;
    max-height: 600px;
} */