.eye {
    position: absolute;
    top: 55%;
    right: 30px;
}

.textGrayed {
    font-weight: 400;
    font-size: 11.9779px;
    line-height: 18px;
    color: #667085;
}

.title {
    font-weight: 700;
    font-size: 29.9448px;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.bg {
    height: 100vh;
    background: linear-gradient(180deg, rgba(43, 73, 240, 0) 0%, rgba(42, 108, 251, 0.2) 100%), url('../../assets/signup//2312.svg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
  }

/* 
.loginCarousel {
    height: 100%;
} */
/* .loginCarousel .owl-stage {
    display: flex;
}

.loginCarousel .owl-item img {
    width: auto;
    height: 100%;
    max-height: 600px;
} */