.upload-container {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  display: flex;
  column-gap: 4px;
  /* cursor: pointer; */
}
.upload-container-centered {
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
