.cardsContainer {
    overflow-x: hidden;
}

.cardsContainer:hover {
    overflow-x: scroll;
}

.cardsContainer::-webkit-scrollbar {
    height: 7px;
}

.bioTextarea::placeholder {
    color: #B3BDC7;
    line-height: 22.5px;
    margin-top: 10px;
    margin-left: 10px;
}