.container {
    background: #F2F4FF;
    border-radius: 4px;
    margin-right: 7px;
    border-top: 3px solid #26435F;
   padding: 30px 15px;
   text-align: center;
  height: 160px;
  width:133.00032px;
}

.heading {
    font-family: 'Inter';
    color: #26435F;
    margin-bottom: 1rem;
    font-size: 0.8333vw;
    padding-right: 6px;
    width: 70px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6667vw;
    line-height: 120%;
    color: #26435F;
}

.card {
    background-color: #F6F6F6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.card2 {
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.actionBorder {
    border-left: 1px solid #CBD6E2;
    margin: 0 15px;
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(38, 67, 95, 0.2);
    width: 27px;
    height: 20px;
    border-radius: 50%;
    margin-left: -13px;
}

.circle2 {
    background-color: #26435F;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}