.container {
    background: #F2F4FF;
    border-radius: 4px;
    margin-right: 7px;
    border-top: 3px solid #26435F;
   padding: 13px 15px;
   text-align: center;
  
}

.heading {
    font-family: 'Inter';
    color: #26435F;
    margin-bottom: 1rem;
    font-size: 14px;
    padding-right: 6px;
    width: 70px;
   
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #26435F;
}