.container {
  font-family: 'Lexend', sans-serif;
}

.mainBox {
  margin-top: 5px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

.gridBorder {
  margin-top: 1.7vw;
  margin-bottom: 1.7vw;
  border-right: 1.25px solid #cbd6e2;
}

.gridBorder2 {
  border-left: 1.25px solid #cbd6e2;
  margin-top: 1.7vw;
  margin-bottom: 1.7vw;
  
}

.boxBorder1 {
  border-right: 5.5px solid #38c980;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  height: calc(105*0.050vw) !important;
}

.boxBorder2 {
  height: calc(105*0.050vw) !important;

  border-right: 5.5px solid #FF7979;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
}

.boxBorder3 {
  border-right: 5.5px solid #7152eb;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  height: calc(105*0.050vw) !important;
}

.smallBoxBorder {
  border-left: 2.5px solid black;
  border-radius: 4px;
}

.actionBox {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
 
}

.actionBorder {
  border-left: 1px solid #cbd6e2;
  margin: 0 0px;
  display: flex;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 67, 95, 0.2);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -13px;
}

.circle2 {
  background-color: #26435f;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}


th {
  padding: 10px;
  border-collapse: collapse;
  background-color: #26435f;
  color: white;
  font-weight: 500;
  font-size: 17.5px;
  line-height: 25px;
}

td {
  text-align: center;
   font-size: 17.5px;
   line-height: 25px;
}

table th:first-child {
  border-radius: 4px 0 0 4px;
}

table th:last-child {
  border-radius: 0 4px 4px 0;
}
tr{
margin:5px 0;
}
tr {
 
  overflow:hidden;
  box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.25);
   
    border-radius: 4px;
    margin:4px 2px;
    color: #517CA8;
    outline: black;
}
tr td{
  background:#fff;
}
tr td:first-child{
margin-left:2px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
tr td:last-child{
margin-right:2px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.sTable tbody,
thead {
  background-color: white;
  box-shadow: none;
}

.sTable tr:nth-child(even) {
  background: white;
  box-shadow: none;
}

.sTable tr:nth-child(odd) {
  background: white;
  box-shadow: none;
}

.smallBox {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 11.328125vw;
}
.smallBox3 {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 12.42vw;
}

.smallBox2 {
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
}

.sidebox {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


