.container {
  font-family: "Lexend Deca", sans-serif;
}

.mainBox {
  margin-top: 13px;
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.gridBorder {
  margin-top: 23px;
  margin-bottom: 28px;
}

.gridBorder2 {
  border-left: 1px solid #cbd6e2;
  margin-top: 23px;
  margin-bottom: 28px;
}

.boxBorder1 {
  border-right: 5px solid #38c980;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.boxBorder2 {
  border-right: 5px solid #ff5175;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.boxBorder3 {
  border-right: 5px solid #7152eb;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.smallBoxBorder {
  border-left: 2.5px solid black;
  border-radius: 4px;
}

.actionBox {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  /* margin-right: 20px; */
}

.actionBorder {
  border-left: 1px solid #cbd6e2;
  margin: 0 20px;
  display: flex;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(38, 67, 95, 0.2);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: -13px;
}

.circle2 {
  background-color: #26435f;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

th {
  padding: 10px;
  border-collapse: collapse;
  background-color: #26435f;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

td {
  text-align: center;
  font-size: 14px;
}

table th:first-child {
  border-radius: 4px 0 0 4px;
}

table th:last-child {
  border-radius: 0 4px 4px 0;
}
tr{
margin:5px 0;
}
tr:nth-child(odd) {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin:3px 0px;
    color: #517CA8;
    outline: black;
}
tr:nth-child(even) {
  color: #517ca8;
  border-radius: 4px;
}

.sTable tbody,
thead {
  background-color: white;
  box-shadow: none;
}

.sTable tr:nth-child(even) {
  background: white;
  box-shadow: none;
}

.sTable tr:nth-child(odd) {
  background: white;
  box-shadow: none;
}

.smallBox {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.smallBox2 {
  background-color: #ffffff;
  border-radius: 4px;
}

.sidebox {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0 5px;
  background-color: #ffffff;
}
