.container {
    background: #ffff;
    border-radius: 4px;
    margin-right: 7px;
    padding: 13px 13px 13px 13px;
}

.heading {
    color: blue;
    margin-bottom: 1rem;
    font-size: 12px;
    padding-right: 6px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #4C3D3D;
}