.container {
    background: #ffff;
    border-radius: 4px;
    margin-right: 9px;

}
.container:last-child {
    background: #ffff;
    border-radius: 4px;
    margin-right:0;
}
.heading {
    font-family: 'Inter';
    color: #26435F;
    margin-bottom: 0.5rem;
    font-size: 14px;
    padding-right: 6px;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #26435F;
}