.toggleContainer {
   position: relative;
   cursor: pointer;
   
}

.toggleCircle {
   position: absolute;
   top: 1.5px;
   left: 0;
   /* background-color: #4bd657; */
   transition: 0.2s;
}

.toggleCircleActive {
   /* background-color: #FFA28D; */
   position: absolute;
   top: 1.5px;
   left: 100%;
   transform: translateX(-100%);
   transition: 0.2s;
}

.toggleCircleImages {
   position: absolute;
   top: 1.5px;
   left: 0;
   background-color: #4bd657;
   transition: 0.2s;
}

.toggleCircleImagesActive {
   background-color: #FFA28D;
   position: absolute;
   top: 1.5px;
   left: 100%;
   transform: translateX(-100%);
   transition: 0.2s;
}