.fc-theme-standard .fc-timeGridWeek-view .fc-scrollgrid {
    border: 0;
}
.fc-theme-standard .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
    display: flex !important;
    align-items: center !important;
}

.fc-theme-standard .fc-toolbar .fc-toolbar-title {
    color: rgba(71, 21, 215, 1) !important;
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
}

.fc-theme-standard
    .fc-toolbar
    .fc-toolbar-chunk
    .fc-prev-button.fc-button
    .fc-theme-standard
    .fc-toolbar
    .fc-toolbar-chunk
    .fc-next-button {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
}

.calendar-prev-button {
    border: 0 !important;
    outline: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 2px !important;
    padding-top: 5px !important;
    display: flex !important;
    align-items: center !important;
}

.fc-direction-ltr .fc-timegrid-col-events {
    margin: 0 !important;
}
.fc-theme-standard .fc-timegrid-event {
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

.student-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#calendarContainer {
    background-color: #fff;
    padding: 40px;
    padding-top: 0;
    border-radius: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    height: 91vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
#calendarContainer .fc-direction-ltr.fc-theme-standard{
    padding-top: 2rem;
}
.fc .fc-timegrid-slot-minor{
    border-top-style: none !important;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame{
    transform: translateY(17px) !important;
}

.fc-scrollgrid-sync-inner::after {
  content:" ";
  
}

.fc-scroller-harness::after  {
    content:" ";
    display: none;
    
  }

  .fc .fc-col-header-cell-cushion  div::after{
    content:" ";
    display: none;
  }
  .fc .fc-timegrid-axis-frame::after{
    content:" ";
    display: none;
  }
tbody{
    color: #26435F;
    font-weight: 600;
    text-align: center;
    /* background: rgb(243 245 247 / var(--tw-bg-opacity)) !important; */
}
.fc-daygrid-day-top{
align-items: center;
justify-content: center;
}
.fc .fc-timegrid-slot{
    height: 2.5rem !important;
}
.fc .fc-timegrid-slot-label{
    display: block;

}
a{
    text-decoration: none !important;
}
#calendarContainer{
    background-color: inherit !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2) !important;
    overflow-y: auto !important;
}
th{
    background-color: rgb(243 245 247 / var(--tw-bg-opacity)) !important;
    padding: 0 !important;
    color: #517ca8 !important;
}

tr:nth-child(odd) {
    background: inherit !important;
    color: #517ca8  !important;
    border-radius: 0 !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25) !important;
}
.fc-theme-standard td, .fc-theme-standard th{
    border: 1px solid white !important;
}
.fc-theme-standard .fc-toolbar .fc-toolbar-title{
    color:#26435F !important;
    font-weight: 500 !important;
    font-size: 17.5px;
}
button-primary:not(:disabled).fc-button-active {
    
    background-color: #fff !important;
    border-color: #fff !important;
    color: #FFA28D !important;
    

}
.fc .fc-button
{
    background-color: inherit !important;
}
.fc .fc-button-primary{
    background-color: #fff !important;
    border: transparent !important;
    border-color: #fff !important;
    color: #ADB8CC !important;
}
.fc .fc-button-primary:hover{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #FFA28D !important;

}
.fc-timeGridWeek-button{
    border-radius: 20px 0px 0px 20px !important;
}
.calendar-prev-button{
    border-radius: 30px !important;
}
.calendar-next-button{
    border-radius: 30px !important;
}
.text-2xl {
    font-size: 1rem !important;
    line-height: 1  rem !important;
}
.font-bold{
    font-weight: 500 !important;
}