.calender .fc-theme-standard .fc-timeGridWeek-view .fc-scrollgrid {
  border: 0;
}
.calender .fc-theme-standard .fc-toolbar .fc-toolbar-chunk:nth-child(1) {
  display: flex !important;
  align-items: center !important;
}
.calender #calendarContainer .fc-direction-ltr.fc-theme-standard{
  padding: 0 !important;
}
.
.calender .fc-theme-standard .fc-toolbar .fc-toolbar-title {
  color: rgba(71, 21, 215, 1) !important;
  font-weight: 600;
  font-size: 24px;
  line-height: normal;
}

.calender
  .fc-theme-standard
  .fc-toolbar
  .fc-toolbar-chunk
  .fc-prev-button.fc-button
  .fc-theme-standard
  .fc-toolbar
  .fc-toolbar-chunk
  .fc-next-button {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
}

.calender .calendar-prev-button {
  border: 0 !important;
  outline: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 2px !important;
  padding-top: 5px !important;
  display: flex !important;
  align-items: center !important;
}

.calender .fc-direction-ltr .fc-timegrid-col-events {
  margin: 0 !important;
}
.calender .fc-theme-standard .fc-timegrid-event {
  background-color: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

.calender .student-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}


.calender #calendarContainer .fc-direction-ltr.fc-theme-standard {
  padding-top: 2rem;
}
.calender .fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
}

.calender .fc-direction-ltr .fc-timegrid-slot-label-frame {
  transform: translateY(17px) !important;
}

.calender .fc-scrollgrid-sync-inner::after {
  content: " ";
}

.calender .fc-scroller-harness::after {
  content: " ";
  display: none;
}

.calender .fc .fc-col-header-cell-cushion div::after {
  content: " ";
  display: none;
}
.calender .fc .fc-timegrid-axis-frame::after {
  content: " ";
  display: none;
}
.calender tbody {
  color: #26435f;
  font-weight: 600;
  text-align: center;


}
.calender .fc-daygrid-day-top {
  align-items: center;
  justify-content: center;
}
.calender .fc .fc-timegrid-slot {
  height: 3rem !important;
}
.calender .fc .fc-timegrid-slot-label {
  display: block;
}
.calender a {
  text-decoration: none !important;
}
.calender #calendarContainer {
  background-color: inherit !important;
  padding: 40px;
  padding-top: 0;
  border-radius: 20px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2) !important;
  height: 550px !important;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}
.calender th {
  background-color: rgb(243 245 247) !important;
  padding: 0 !important;
  color: #517ca8 !important;
}
 .calendar th{
  background-color: white !important;
}
/* #student .calendar th{
  background-color: white !important;
} */
 /* .fc-daygrid th{
  background: rgb(243 245 247) !important;
} */
/* #student .fc-daygrid th{
  background: rgb(243 245 247) !important;
} */
.calendar-parent-class tr td {
  background:  rgb(243 245 247) !important
}

.calender tr:nth-child(odd) {
  color: #517ca8 !important;
  border-radius: 0 !important;
  height: 3rem !important;
}

.calender tr:nth-child(even) {
  height: 3rem !important;
}
.calender .fc-theme-standard .fc-timeGridWeek-view .fc-scrollgrid{
  border-right: .2px solid white !important;
}
.calender .fc-theme-standard .fc-daygrid .fc-scrollgrid{
  border: 2px solid white !important;
}

 .calender .fc-theme-standard td
 {
  border: 2px solid #F5F8FA  !important;
  padding-bottom: 2px!important;
  }

 #student  .fc-theme-standard .fc-timeGridWeek-view td
 {
  border: 2px solid #F5F8FA !important;
  }

  .fc-theme-standard th{
    border: 0 !important;

  }

.calender .fc-theme-standard .fc-toolbar .fc-toolbar-title {
  color: #26435f !important;
  font-weight: 500 !important;
  font-size: 17.5px;
}
.calender button-primary:not(:disabled).fc-button-active {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #ffa28d !important;
}
.calender .fc .fc-button {
  background-color: inherit !important;
}
.calender .fc .fc-button-primary {
  background-color: #fff !important;
  color: #adb8cc !important;
}
.calender .fc .fc-button-primary::first-letter {
text-transform: uppercase;
}
.calender .fc .fc-button-primary:hover {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #ffa28d !important;
}
.calender .fc-timeGridWeek-button {
  border-radius: 0px 20px 20px 0px !important;
  border: 1px solid #f5f6f7 !important;
}

.calender .fc-dayGridMonth-button {
  border-radius: 20px 0px 0px 20px !important;
  border: 0px solid #f5f6f7 !important;
  margin: 0px;
}

.calender .calendar-prev-button {
  border-radius: 30px !important;
}
.calender .calendar-next-button {
  border-radius: 30px !important;
}
.calender .text-2xl {
  font-size: 1rem !important;
  line-height: 1 rem !important;
}
/* .calender .font-bold {
  font-weight: 500 !important;
} */

.calender .timegrid-slot-label-cushion {
  padding: 0px 0px;
  font-size: 1rem;
}
.calender .fc .fc-col-header-cell-cushion {
  font-size: 14.6px !important;
  margin-top: .5rem !important;
}
.calendar .react-calendar .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    color: #26435F !important;
}
.calendar .react-calendar__tile--active abbr {
    border-radius: 50%;
    background-color: #FFA28D !important;
}

.calendar #input .border {
    border: 1.25px solid #FFA28D!important;
    border-radius: 50px;
    background: white;
    color: #FFA28D !important;

}
.calendar #number select{
  background: transparent !important;
}

.calender table th:first-child
{
  border: 0 !important;
}
.calender table th:last-child{
  border: 0 !important;
}
.calender .fc-col-header{
  width:100% !important;
}
.calender .fc-scroller{
  overflow: auto !important;
}
.calender .fc .fc-scrollgrid-section-sticky > *{
  position: relative !important;
}
.calender .fc .fc-timegrid-slot-label{
  display: revert !important;
  vertical-align: baseline !important;
  border: 1px solid rgba(245, 248, 250, 1)!important;
}
.calendar .react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__prev-button, .react-calendar .react-calendar__navigation__arrow.react-calendar__navigation__next-button{
  display: none !important;
}

.calendar .react-calendar__viewContainer{
  background-color: white;
  color: #7C98B6 !important;
}
.calendar .react-calendar__navigation{
  margin-bottom: 0 !important;
  padding-top: 10px !important;
}
.calendar .react-calendar__month-view__weekdays__weekday abbr{
  color: #24A3D9 !important;
}
.calendar .react-calendar__month-view__days__day--weekend{
  color: #7C98B6 !important;

}
.calendar tr{
  box-shadow: 0px 0px 2px 0px #fff !important;
  border-radius: 0 !important;
} 
#calendarContainer::-webkit-scrollbar{
  width: 0px !important;
}
.calendar ::-webkit-scrollbar{
  width: 0px !important;
}

.calendar .fc-button-active{
  border: 0 !important;
}

 .calendar tr td{
  background: inherit !important;
}
 .calendar td{
  padding-top: 0 !important;
}

/* #student tr td{
  background: white !important;

} */
/* #student .fc-timegrid-col-frame{
  background: white !important;
} */
 .fc-timegrid-col-frame{
  background: white !important;
}
.calendar thead tr th div::after{
  content: none !important;
}
.calendar .fc-nextButton-button{
  width: 50px !important;
  height: 50px !important;
  border: 2.5px solid #F5F6F7 !important;
}
.calendar .fc-prevButton-button{
  width: 50px !important;
  height: 50px !important;
  border: 2.5px solid #F5F6F7 !important;
}
.calendar-prevButton-custom{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 10px !important;  
}
.calendar-nextButton-custom{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 10px !important;  
}
.calendar .fc .fc-button-group{
  margin-right: 15rem !important;
}
.calendar .fc .fc-timegrid-axis-frame {
  margin-top:12px !important ;
  margin-left: 19px !important;
  content: url('../../assets/YIcons/timeC.svg') !important;
}
.calendar .fc .fc-timegrid-slot-label-cushion {
  font-weight: 500 !important;
  font-size: 14.6px !important;


}

.fc-daygrid-day-frame {
  background-color: white;
}

.blank-row {
  height: 60px; 
  background-color: transparent; 
}


