.selectedIcon {
    position: absolute;
    right: -53px;
    top: -33px;
    z-index: -1;
    min-width: 105.32px;
}
.navLink{
    overflow: visible;
}
.selectedNavLink {
    fill: black;
}

.selectedNavLink svg {
    fill: black;
    filter: invert(0.55) sepia(1) hue-rotate(200deg) saturate(5) brightness(1);
}

.translateUp svg {
    transform: translateY(-15px);
}

.navLink svg {
    transition: 0.2s;
}

.navLink svg {
    max-width: 30px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltiptext {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    transform: translateX(-50%);

    visibility: hidden;
    width: 80px;
    background-color: black;

    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    z-index: 9000;
}
 .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
/* Show the tooltip text when you mouse over the tooltip container */
.navLink:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 1024px) {

    .selectedIcon {
        display: flex;
        top: -48px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 100px;
        height: 92px;
    }
}