.downArrow {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200000;
    width: 15px;
}

.options {
    position: absolute;
    top: calc(100% + 3px);
    
    background-color: white;
    right:0;
    border-radius: 15px;
    max-height: 185px;
    overflow-y: auto;
    z-index: 100000;
   
    border-top-left-radius: 15px;
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
}

.options > div:hover {
    background-color: rgba(197, 195, 195, 0.171);
}