.container {
   font-family: 'Lexend', sans-serif;
}

.subheading {
   font-weight: 600;
   font-size: 16px;
   line-height: 120%;
   color: #26435F;
   margin-bottom: 3px;
}

.userStatsContainer {
   background: #EEEEEE;
   border-radius: 4px;
   
   
   /* background-color: red; */
}

.userStat {

   
   flex: 1;
   text-align: center;
   padding: 16px 1px;
   font-size: 14px;
   color: #26435F;
   font-weight: 500;
   

}



.selected {
   background: white;
   color: #FFA28D;
   overflow:hidden;
   font-weight: 400;
   font-size: 14px;
   border-bottom: 4px solid #FFA28D;
   border-bottom-radius: 10px;
   
}


.statHead {
   color: #26435F;
   line-height: 24x;
   padding-right: 6px;
}

.text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   color: #4C3D3D;
}


.orgCard div:first-child {
   border-left: 3px solid #26435F;
   padding: 23px 22px;
   height: 106px;
 
}

.orgCard div:nth-child(2),
.orgCard div:nth-child(3),
.orgCard div:nth-child(4) {
   padding: 23px 23px 23px 20px;
   height: 106px;
}

.orgCard div {
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.customBorder {
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   /* border-bottom: 1.2px solid rgba(0, 0, 0, 0.15);
   border-left: 1.2px solid rgba(0, 0, 0, 0.15);
   border-right: 1.2px solid rgba(0, 0, 0, 0.15); */
}