thead tr th .marker::after {
  content: url("../../assets/icons/table_dropdown.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

thead tr th .upArrow::after {
  content: url("../../assets/icons/table_dropdown.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  transform: rotate(180deg);
}

thead tr th:nth-child(-n+5) .markerCustom::after {
  content: url("../../assets/icons/table_dropdown.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
thead tr th:nth-child(-n+10) .markerCustomAllOrgs::after {
  content: url("../../assets/icons/table_dropdown.svg");
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.no-arrow div::after{
  content: " ";
  margin-left: 5px;
  display: none;
  width: 25px;
  height: 25px;
}
.checkbox-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 2px solid #ffa28d;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox::before {
  content: "✓";
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  opacity: 1;
}
input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #ffa28d;
}
.active-pagination {
  background-color: #ffa28d;
  color: white;
}


.customPadding{
  padding: 0px;
}

@media screen and (min-width: 1920px) {

.noOverflow{
  overflow: hidden;
}

}