.numContainer {
    background-color: #B3BDC7;
    box-shadow: 0px 0px 10px rgba(141,141,141,0.25);
    width: 36px;
    height: 36px;
}

.numContainer.currentIndex {
    background-color: #24A3D9;
    box-shadow: 0px 0px 20px rgba(36,163,217,0.25);
    width: 50px;
    height: 50px
}

.numContainer.restricted {
    background-color: #E0E0E0;
    box-shadow: 0px 0px 10px rgba(141,141,141,0.25);
}

.numContainer.completed {
    background-color: #FFA28D;
    box-shadow: 0px 0px 10px rgba(141, 141, 141, 0.25);
}

.label {
    color: #B3BDC7;
}

.label.currentIndex {
    color: #24A3D9;
}

.label.restricted {
    color: #E0E0E0;
}

.label.completed {
    color: #FFA28D;
}

.verticalLine {
    border-color: #B3BDC7;
    background-color: #B3BDC7;
}

.verticalLine.restricted {
    border-color: #E0E0E0;
    background-color: #E0E0E0;
}

.verticalLine.currentIndex {
    border-color: #24A3D9;
    background-color: #24A3D9;
}

.verticalLine.completed {
    border-color: #FFA28D;
    background-color: #FFA28D;
}