.form-scroll-container {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 15px; 
    box-sizing: content-box; 
    transition: max-height 0.3s ease;
 }

 .rich-text-scroll {
    /* Adjust the width if needed */
    width: 100%;
 }

 .input-heading{
   font-weight: 600 !important;
   font-size: 15px !important;
 }

 .ant-switch {
   background-color: rgb(255, 255, 255) !important;
  border: 2px solid black !important; 
 }

 .ant-switch-handle::before{
   background-color: #38C980 !important;
 }


.ant-switch-handle{
   top: 3px !important;
   height: 14px !important;
   width: 14px !important;
}