.line {
  position: relative;
  z-index: 10;
  font-style: normal;
}

.line::before {
  content: "";
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #7152eb;
  z-index: -99;
}
.line:nth-last-child(1) {
  margin-right: 0;
}
.line:nth-last-child(1)::before {
  display: none;
}

.line.disabledSteps:nth-last-child(1)::before {
  display: none;
}
