.line {
  position: relative;
  z-index: 10;
  font-style: normal;
}

.line::before {
  content: "";
  position: absolute;
  right: -100px;
  top: 50%;
  margin-top:-15px;
  transform: translateY(-50%);
  width:100px;
  height: 1px;
  background-color: #B3BDC7;
  z-index: -99;
}
.line:nth-last-child(1) {
  margin-right: 0;
}
.line:nth-last-child(1)::before {
  display: none;
}

.line.disabledSteps:nth-last-child(1)::before {
  display: none;
}


.line2 {
  position: relative;
  z-index: 10;
  font-style: normal;
}

.line2::before {
  content: "";
  position: absolute;
  right: -165px;
  top: 50%;
  margin-top:-15px;
  transform: translateY(-50%);
  width:165px;
  height: 1px;
  background-color: #B3BDC7;
  z-index: -99;
}
.line2:nth-last-child(1) {
  margin-right: 0;
}
.line2:nth-last-child(1)::before {
  display: none;
}

.line2.disabledSteps:nth-last-child(1)::before {
  display: none;
}



.line4 {
  position: relative;
  z-index: 10;
  font-style: normal;
}

.line4::before {
  content: "";
  position: absolute;
  right: -350px;
  top: 50%;
  margin-top:-15px;
  transform: translateY(-50%);
  width:350px;
  height: 1px;
  background-color: #B3BDC7;
  z-index: -99;
}

.line5::before {
  content: none;
  display:none;
  position: absolute;
  right: -185px;
  top: 50%;
  margin-top:-15px;
  transform: translateY(-50%);
  width:185px;
  height: 1px;
  background-color: #B3BDC7;
  z-index: -99;
}
